
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-area {
    background-color: #f9f9f9;
  }
  
  .single-well > a {
    display: block;
  }
  
  .single-well ul li {
    color: #444;
    display: block;
    padding: 5px 0;
  }
  
  .single-well ul li i {
    color: #3EC1D5;
    margin-right: 5px;
    font-size: 18px;
  }
  
  .single-well p {
    color: #444;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services-icon {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  
  .section-headline.services-head > h2 {
    margin-bottom: 25px;
  }
  
  .services-details {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
  }
  
  .services-details:hover h4, .services-details:hover .services-icon {
    color: #3EC1D5;
  }
  
  .row.second-row {
    margin-top: 40px;
  }
  
  .section-head > h2 {
    color: #333;
  }
  
  .single-services > h4 {
    color: #444;
    font-size: 24px;
    font-weight: 500;
  }
  
  .single-services > p {
    color: #333;
    font-size: 14px;
  }
  
  