
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
    padding: 40px 0;
    background: #f9f9f9;
  }
  
  .footer-head p {
    color: #444;
  }
  
  .footer-head h4 {
    color: #444;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer-logo {
    padding-bottom: 20px;
  }
  
  .footer-logo h2 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }
  
  .footer-logo h2 span {
    color: #3ec1d5;
  }
  
  .footer-icons ul li {
    display: inline-block;
  }
  
  .footer-icons ul li a {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  .footer-icons ul li a i {
    line-height: 0;
  }
  
  .flicker-img > a {
    float: left;
    padding: 1px;
    width: 33.33%;
  }
  
  .footer-icons {
    margin-top: 30px;
  }
  
  .footer-contacts p span {
    color: #3EC1D5;
    font-weight: 700;
  }
  
  .popular-tag ul li {
    display: inline-block;
  }
  
  .footer-content {
    display: block;
    overflow: hidden;
  }
  
  .popular-tag ul li a:hover, .footer-icons ul li a:hover {
    background: #3EC1D5;
    border: 1px solid #3EC1D5;
    color: #fff;
  }
  
  .popular-tag ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    font-size: 13px;
    display: block;
    font-weight: 600;
    margin: 5px 3px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    width: 70px;
  }
  
  .footer-area-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
  }
  
  .copyright-text a:hover {
    text-decoration: underline;
    color: #3EC1D5;
  }
  
  .copyright-text a {
    color: #444;
  }
  
  .copyright > p {
    margin-bottom: 0;
    color: #444;
  }
  
  .copyright a, .credits a {
    color: #3EC1D5;
  }
  
  .credits {
    padding-top: 5px;
    text-align: center;
  }
  
  