/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.pst-content {
    padding-left: 10px;
  }
  
  #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 8px 24px;
    font-size: 12px;
    line-height: 20px;
    color: #555;
    border-radius: 50px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #444;
  }
  #portfolio-flters li:hover, #portfolio-flters li.filter-active {
    border-color: #3EC1D5;
    background: #3EC1D5;
    color: #fff;
  }
  #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .single-awesome-portfolio {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 25%;
    position: relative;
  }
  
  .single-awesome-project {
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .first-item {
    margin-bottom: 30px;
  }
  
  .awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .awesome-img > a {
    display: block;
    position: relative;
  }
  
  .single-awesome-project:hover .awesome-img > a::after {
    opacity: 1;
  }
  
  .single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
  }
  
  .awesome-img > a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
  }
  
  .add-actions {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
  }
  
  .project-dec {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-dec a {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-dec h4 {
    margin-bottom: 5px;
  }
  
  .project-dec h4:hover {
    color: #fff;
  }
  
  .project-dec h4 {
    color: #ddd;
    font-size: 24px;
    margin-top: -45px;
    padding-top: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .project-dec span {
    color: #ddd;
    font-size: 13px;
  }
  
  .project-action-btn {
    display: block;
    height: 100%;
    text-align: center;
    transition: all 1s ease 0s;
    width: 100%;
  }
  
  .project-action-btn li {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-action-btn li a {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  