/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/
.reviews-area {
    background: url(../img/background/reviews-bg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .work-left-text {
    background: #3EC1D5 none repeat scroll 0 0;
  }
  
  .work-right-text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  }
  
  .work-right-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
  }
  
  .work-right-text h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
  }
  
  .work-right-text .sus-btn {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .single-awesome-4 {
    display: block;
    float: left;
    overflow: hidden;
    width: 33.33%;
  }
  
  .single-awesome-4 .add-actions {
    padding: 10px 20px;
  }
  
  